<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Niagahoster</title>
    <!--CSS Bootstarp-->
    <link href="{{ base_url() }}/assets/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <link href="{{ base_url() }}/assets/css/style.css" rel="stylesheet">

</head>
<body>

    <header>
        <nav class="navbar navbar-light border-bottom py-0">
            <div class="container">
                <div class="text-left montserrat-light-small">
                    <i class="fa fa-2x fa-bookmark text-primary"></i>
                    <span class="mb-5">Ebook 9 Cara Cerdas Menggunakan Domain [x]</span>
                </div>
                <div class="text-right montserrat-light-small">
                    <i class="fa fa-phone"></i> 0274-5305505
                    <i class="fa fa-comments"></i> Live Chat
                    <i class="fa fa-user-circle"></i> Member Area
                </div>
            </div>
        </nav>

        <nav class="navbar navbar-expand-lg navbar-light border-bottom py-3">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img class="navbar-brand logo" src="{{ base_url() }}/assets/images/logo.png"/>
                </a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse flex-grow-1 text-right" id="navbarNavDropdown">
                    <ul class="navbar-nav ms-auto flex-nowrap  montserrat-regular">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Hosting</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Domain</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Server</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Website</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Afiliasi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Promo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pembayaran</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Review</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Kontak</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Blog</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section id="jumbotron" class="d-flex align-items-center border-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 px-3">
                    <div class="montserrat-bold">PHP Hosting</div>
                    <div class="montserrat-light">Cepat, handal, penuh dengan modul PHP yang Anda butuhkan</div>
                    <div class="montserrat-light-small mt-3">
                        <ul class="list-unstyled">
                            <li class="mt-2"><i class="fa fa-check-circle text-success"></i> Solusi PHP untuk performa query yang lebih cepat.</li>
                            <li class="mt-2"><i class="fa fa-check-circle text-success"></i> Solusi PHP untuk performa query yang lebih cepat.</li>
                            <li class="mt-2"><i class="fa fa-check-circle text-success"></i> Konsumsi memori yang rendah.</li>
                            <li class="mt-2"><i class="fa fa-check-circle text-success"></i> Support PHP 5.3, PHP 5.4, PHP 5.5, PHP 5.6, PHP 7</li>
                            <li class="mt-2"><i class="fa fa-check-circle text-success"></i> Fitur enkripsi IonCube dan Zend Guard Loaders</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 px-3">
                    <img src="{{ base_url() }}/assets/svg/illustration_banner_PHP_hosting_01.svg"/>
                </div>
            </div>
        </div>
    </section>

    <section class="d-flex align-items-center border-bottom mt-5">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="card border-0 text-center" style="width: 18rem;">
                    <div class="d-flex justify-content-center align-items-center" style="height: 190px;">
                        <img src="{{ base_url() }}/assets/images/zendguard.png"/>
                    </div>
                    <div>
                        <p>PHP Zend Guard Loader</p>
                    </div>
                </div>
                
                <div class="card border-0 text-center" style="width: 18rem;">
                    <div class="d-flex justify-content-center align-items-center"  style="height: 190px;">
                        <img src="{{ base_url() }}/assets/images/composer.png">
                    </div>
                    <div>
                        <p>PHP Composer</p>
                    </div>
                </div>
                <div class="card border-0 text-center" style="width: 18rem;">
                    <div class="d-flex justify-content-center align-items-center"  style="height: 190px;">
                        <img src="{{ base_url() }}/assets/images/ioncube.png"/>
                    </div>
                    <div>
                        <p>PHP ionCube Loader</p>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center text-center mt-5">
                <div class="montserrat-bold">Paket Hosting Singapura yang Tepat</div>
                <div class="montserrat-light">Diskon 40% + Domain dan SSL Gratis untuk Anda</div>
            </div>
            <div class="row row d-flex justify-content-center text-center mt-5 mb-5">
                <div class="col-lg-3 px-0 mt-2">
                    <div class="card rounded-0">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><h3>Bayi</h3></li>
                            <li class="list-group-item">
                                <del>Rp {{ product_service[0]['price'] }}</del>
                                <h1><sup>Rp </sup>{{ product_service[0]['promo']|slice(0, -4) }}<sup>{{ product_service[0]['promo']|slice(-4) }}/bln</sup></h1>
                            </li>
                            <li class="list-group-item"><b>938</b> Pengguna Terdaftar</li>
                            <li class="list-group-item">
                                <div>
                                    <b>0.5X RESOURCE POWER</b> <br>
                                    <b>500 MB</b>Disk Space <br>
                                    <b>Unlimited</b> Bandwidth <br>
                                    <b>Unlimited</b> Database <br>
                                    <b>1</b> Domain <br>
                                    <b>Instan</b> Backup <br>
                                    <b>Unlimited SSL</b> Gratis Selamanya   
                                </div>
                                <button type="button" class="btn btn-outline-dark btn-service mt-5 mb-3 btn-border-radius fw-bold">Pilih Sekarang</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 px-0 mt-2">
                    <div class="card rounded-0">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><h3>Pelajar</h3></li>
                            <li class="list-group-item">
                                <del>Rp {{ product_service[1]['price'] }}</del>
                                <h1><sup>Rp </sup>{{ product_service[1]['promo']|slice(0, -4) }}<sup>{{ product_service[1]['promo']|slice(-4) }}/bln</sup></h1>
                            </li>
                            <li class="list-group-item"><b>4.168</b> Pengguna Terdaftar</li>
                            <li class="list-group-item">
                                <div>
                                    <b>1X RESOURCE POWER</b> <br>
                                    <b>Unlimited</b> Disk Space <br>
                                    <b>Unlimited</b> Bandwidth <br>
                                    <b>Unlimited</b> POP3 Email <br>
                                    <b>Unlimited</b> Database <br>
                                    <b>10</b> Addon Domain <br>
                                    <b>Instan</b> Backup <br>
                                    <b>Domain Gratis</b> Selamanya <br>
                                    <b>Unlimited SSL</b> Gratis Selamanya
                                </div>
                                <button type="button" class="btn btn-outline-dark btn-service mt-5 mb-3 btn-border-radius fw-bold">Pilih Sekarang</button>
                            </li>
                        </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 px-0 mt-2">
                    <div class="card rounded-0 border-primary">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-primary text-white"><h3>Personal</h3></li>
                            <li class="list-group-item bg-primary text-white">
                                <del>Rp {{ product_service[2]['price'] }}</del>
                                <h1><sup>Rp </sup>{{ product_service[2]['promo']|slice(0, -4) }}<sup>{{ product_service[2]['promo']|slice(-4) }}/bln</sup></h1>
                            </li>
                            <li class="list-group-item bg-primary text-white"><b>10.017</b> Pengguna Terdaftar</li>
                            <li class="list-group-item ">
                                <div>
                                    <b>2X RESOURCE POWER</b> <br>
                                    <b>Unlimited</b> Disk Space <br>
                                    <b>Unlimited</b> Bandwidth <br>
                                    <b>Unlimited</b> POP3 Email <br>
                                    <b>Unlimited</b> Database <br>
                                    <b>Unlimited</b> Addon Domain <br>
                                    <b>Instan</b> Backup <br>
                                    <b>Domain Gratis</b> Selamanya <br>
                                    <b>Unlimited SSL</b> Gratis Selamanya <br>
                                    <b>Private</b> Name Server <br>
                                    <b>SpamAssasin</b> Mail Protection 
                                </div>
                                <button type="button" class="btn btn-personal-service mt-5 mb-3 btn-border-radius fw-bold">Pilih Sekarang</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 px-0 mt-2">
                    <div class="card rounded-0">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><h3>Bisnis</h3></li>
                            <li class="list-group-item">
                                <del>Rp {{ product_service[3]['price'] }}</del>
                                <h1><sup>Rp </sup>{{ product_service[3]['promo']|slice(0, -4) }}<sup>{{ product_service[3]['promo']|slice(-4) }}/bln</sup></h1>
                            </li>
                            <li class="list-group-item"><b>3.552</b> Pengguna Terdaftar</li>
                            <li class="list-group-item ">
                                <div>
                                    <b>3X RESOURCE POWER</b> <br>
                                    <b>Unlimited</b> Disk Space <br>
                                    <b>Unlimited</b> Bandwidth <br>
                                    <b>Unlimited</b> POP3 Email <br>
                                    <b>Unlimited</b> Database <br>
                                    <b>Unlimited</b> Addon Domain <br>
                                    <b>Magic Auto</b> Backup & Restore <br>
                                    <b>Domain Gratis</b> Selamanya <br>
                                    <b>Unlimited SSL</b> Gratis Selamanya <br>
                                    <b>Private</b> Name Server <br>
                                    <b>Prioritas</b> Layanan Support <br>
                                    {% for i in 0..4 %}
                                        <i class="fa fa-star fa-sm text-primary"></i>
                                    {% endfor %}
                                    <br>
                                    <b>SpamExpert</b> Pro Mail Protection
                                </div>
                                <button type="button" class="btn btn-outline-dark btn-service mt-5 mb-3 btn-border-radius fw-bold">Diskon 40%</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-5">
                <div class="montserrat-light text-center">Powerful dengan Limit PHP yang Lebih Besar</div>
                <div class="row row d-flex justify-content-center mt-5 mb-5">
                    <div class="col-lg-5 mt-2">
                        <div class="card rounded-0">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-3">
                                            <i class="fa fa-check-circle text-success"></i>
                                        </div>
                                        <div class="col">
                                            <span class="text-center">max execution time 300s</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item bg-light">
                                    <div class="row">
                                        <div class="col-3">
                                            <i class="fa fa-check-circle text-success"></i>
                                        </div>
                                        <div class="col">
                                            <span class="text-center">max execution time 300s</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-3">
                                            <i class="fa fa-check-circle text-success"></i>
                                        </div>
                                        <div class="col">
                                            <span class="text-center">php memory limit 1024 MB</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-5 mt-2">
                        <div class="card rounded-0">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-3">
                                            <i class="fa fa-check-circle text-success"></i>
                                        </div>
                                        <div class="col">
                                            <span class="text-center">post max size 128 MB</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item bg-light">
                                    <div class="row">
                                        <div class="col-3">
                                            <i class="fa fa-check-circle text-success"></i>
                                        </div>
                                        <div class="col">
                                            <span class="text-center">upload max filesize 128 MB</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-3">
                                            <i class="fa fa-check-circle text-success"></i>
                                        </div>
                                        <div class="col">
                                            <span class="text-center">max input vars 2500</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <span class="h-divider"></span>
            </div>
            <div class="row d-flex justify-content-center text-center mt-5">
                <div class="montserrat-light">Semua Paket Hosting Sudah Termasuk</div>
                <div class="row row d-flex justify-content-center text-center mt-2 mb-5">
                    <div class="col-lg-4 mt-5">
                        <div class="card border-0 px-3">
                            <div class="d-flex justify-content-center align-items-center">
                                <img style="max-width:20%;" src="{{ base_url() }}/assets/svg/icon_PHP_Hosting_PHP_Semua_Versi.svg"/>
                            </div>
                            <div>
                                <h5>PHP Semua Versi</h5>
                                <p>Pilih mulai dari versi PHP 5.3 s/d PHP 7. Ubah sesuka Anda!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-5">
                        <div class="card border-0 px-3">
                            <div class="d-flex justify-content-center align-items-center">
                                <img style="max-width:20%;" src="{{ base_url() }}/assets/svg/icon_PHP_Hosting_MySQL.svg"/>
                            </div>
                            <div>
                                <h5>MySQL Versi 5.6</h5>
                                <p>Nikmati MySQL versi terbaru, tercepat dan kaya akan fitur.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-5">
                        <div class="card border-0 px-3">
                            <div class="d-flex justify-content-center align-items-center">
                                <img style="max-width:20%;" src="{{ base_url() }}/assets/svg/icon_PHP_Hosting_CPanel.svg"/>
                            </div>
                            <div>
                                <h5>Panel Hosting cPanel</h5>
                                <p>Kelola website dengan panel canggih yang familiar di hati Anda!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-5">
                        <div class="card border-0 px-3">
                            <div class="d-flex justify-content-center align-items-center">
                                <img style="max-width:20%;" src="{{ base_url() }}/assets/svg/icon_PHP_Hosting_garansi_uptime.svg"/>
                            </div>
                            <div>
                                <h5>Garansi Uptime 99.9%</h5>
                                <p>Data center yang mendukung kelangsungan website Anda 24/7.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-5">
                        <div class="card border-0 px-3">
                            <div class="d-flex justify-content-center align-items-center">
                                <img style="max-width:20%;" src="{{ base_url() }}/assets/svg/icon_PHP_Hosting_InnoDB.svg"/>
                            </div>
                            <div>
                                <h5>Database InnoDB Unlimited</h5>
                                <p>Jumlah dan ukuran database yang tumbuh sesuai kebutuhan Anda!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-5">
                        <div class="card border-0 px-3">
                            <div class="d-flex justify-content-center align-items-center">
                                <img style="max-width:20%;" src="{{ base_url() }}/assets/svg/icon_PHP_Hosting_MySQL_remote.svg"/>
                            </div>
                            <div>
                                <h5>Wildcard Remote MySQL</h5>
                                <p>Mendukung s/d 25 max_user_connections dan 100 max_connections.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="h-divider"></span>
            </div>
            <div class="row d-flex justify-content-center mt-5">
                <div class="montserrat-light text-center">Mendukung Penuh Framework Laravel</div>
                <div class="mt-3 montserrat-light-small">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <p>Tak perlu Menggunakan dedicated server ataupun VPS yang mahal. Layanan PHP hosting murah kami mendukung penuh framework favorit Anda</p>
                            <ul class="list-unstyled">
                                <li class="mt-1"><i class="fa fa-check-circle text-success"></i> Install Laravel 1 <b>klik</b> dengan Softaculous Installer.</li>
                                <li class="mt-1"><i class="fa fa-check-circle text-success"></i> Mendukung ekstensi <b>PHP MCrypt, phar, mbstring, json, </b>dan <b>fileinfo</b>.</li>
                                <li class="mt-1"><i class="fa fa-check-circle text-success"></i> Tersedia <b>Composer</b> dan <b>SSH</b> untuk menginstal packages pilihan Anda.</li>
                            </ul>
                            <small>Nb. Composer dan SSH hanya tersedia pada paket Personal dan Bisnis</small>
                            <button type="button" class="btn btn-personal-service mt-5 mb-3 btn-border-radius fw-bold">Pilih Hosting Anda</button>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
                            <img style="max-width:90%;" src="{{ base_url() }}/assets/svg/illustration_banner_support_laravel_hosting.svg"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="d-flex align-items-center border-bottom mt-5">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="montserrat-light text-center">Modul Lengkap untuk Menjalankan Aplikasi PHP Anda</div>
                <div class="row d-flex justify-content-center mt-5 mb-5 montserrat-light-small">
                    <div class="col-xs-12 col-sm-3 col-lg-3 px-0 d-flex justify-content-center">
                        IcePHP <br>
                        apc <br>
                        apcu <br>
                        apm <br>
                        ares <br>
                        bcmath <br>
                        bcompiler <br>
                        big_iit <br>
                        bitset <br>
                        bloomy <br>
                        bz2_filter <br>
                        clamav <br>
                        coin_acceptor <br>
                        crack <br>
                        aba 
                    </div>
                    <div class="col-xs-12 col-sm-3 col-lg-3 px-0 d-flex justify-content-center">">
                        http <br>
                        huffman <br>
                        idn <br>
                        igbinary <br>
                        imagick <br>
                        imap <br>
                        include <br>
                        inotify <br>
                        interbase <br>
                        intl <br>
                        ioncube_loader <br>
                        ioncube_loader_4 <br>
                        jsmin <br>
                        json <br>
                        ldap
                    </div>
                    <div class="col-xs-12 col-sm-3 col-xs-3 col-lg-3 px-0 d-flex justify-content-center">
                        nd_pdo_mysql <br>
                        oauth <br>
                        oci8 <br>
                        odbc <br>
                        opcache <br>
                        pdf <br>
                        pdo <br>
                        pdo_dblib <br>
                        pdo_firebird <br>
                        pdo_mysql <br>
                        pdo_odc <br>
                        pdo_pgsql <br>
                        pdo_sqlite <br>
                        pgsql <br>
                        phalcon
                    </div>
                    <div class="col-xs-12 col-sm-3 col-lg-3 px-0 d-flex justify-content-center">
                        stats <br>
                        stem <br>
                        stomp <br>
                        suhosin <br>
                        sybase_ct <br>
                        sysvmsg <br>
                        sysvsem <br>
                        sysvshm <br>
                        tidy <br>
                        timezonedb <br> 
                        trader <br>
                        translit <br>
                        uploadpreogress <br>
                        uri_template <br>
                        uuid
                    </div>
                </div>
                <div class="col d-flex justify-content-center">
                    <button type="button" class="btn btn-outline-dark btn-service mb-3 btn-border-radius fw-bold">Selengkapnya</button>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-5">
                <div class="mt-3">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <h1 class="montserrat-light">Linux Hosting yang Stabil dengan Teknologi LIVE</h1>
                            <p class="montserrat-light-small">SuperMicro <b>Intel Xeon 24-Cores</b> server dengan RAM <b>128 GB</b> dan teknologi <b>LIVE CloudLinux</b> untuk stabilitas server Anda. Dilengkapi dengan <b>SSD</b> untuk kecepatan <b>MySQL</b> dan caching. Apache load balancer berbasis LiteSpeed Technology, <b>CageFS</b> security, <b>Raid-10</b> protection dan auto backup untuk keamanan website PHP Anda.</p>
                            <button type="button" class="btn btn-personal-service mt-5 mb-3 btn-border-radius fw-bold">Pilih Hosting Anda</button>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
                            <img src="{{ base_url() }}/assets/images/Image-support.png"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid bg-light" style="height:60px;">
        <div class="container">
            <div class="row">
                <div class="col-6 text-left">
                    <div class="montserrat-light-small mt-3">Bagikan jika Anda menyukai halaman ini.</div>
                </div>
                <div class="col-6 text-right mt-1">
                    <a href="#"><img style="max-width: 20%;" src="{{ base_url() }}/assets/icons/facebook-color.png"></a>
                    <a href="#"><img style="max-width: 20%;" src="{{ base_url() }}/assets/icons/twitter-color.png"></a>
                    <a href="#"><img style="max-width: 20%;" src="{{ base_url() }}/assets/icons/googleplus-color.png"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-info" style="height:100px;">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <p class="text-white text-center display-6 mt-4">Perlu <b>Bantuan?</b> Hubungi Kami : <b>0274-5305505</b><span class="v-divider"></span><button type="button" class="btn btn-personal-service btn-border-radius fw-bold"><i class="fa fa-comments ml-1"></i> Live Chat</button></p>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark color-footer">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-3 mt-5">
                    <div class="card bg-dark px-3 border-0">
                        <p><b>HUBUNGI KAMI</b></p>
                        <p>
                            0274-5305505 <br>
                            Senin-Minggu <br>
                            24 Jam Nonstop
                        </p>
                        <p>Jl. Selokan Mataram Monjali Karangjati MT I/304 Sinduadi, Melati, Sleman Yogyakarta 55284</p>
                    </div>
                </div>
                <div class="col-lg-3 mt-5">
                    <div class="card bg-dark px-3 border-0">
                        <p><b>LAYANAN</b></p>
                        <ul class="list-unstyled list-footer montserrat-light-small">
                            <li><a href="#">Domain</a></li>
                            <li><a href="#">Shared Hosting</a></li>
                            <li><a href="#">Cloud VPS Hosting</a></li>
                            <li><a href="#"> Managed VPS Hosting</a></li>
                            <li><a href="#">Web Builder</a></li>
                            <li><a href="#">Keamanan SSL / HTTPS</a></li>
                            <li><a href="#">Jasa Pembuatan Website</a></li>
                            <li><a href="#">Program Affiliasi</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 mt-5">
                    <div class="card bg-dark px-3 border-0">
                        <p><b>SERVICE HOSTING</b></p>
                        <ul class="list-unstyled list-footer montserrat-light-small">
                            <li><a href="#">Hosting Murah</a></li>
                            <li><a href="#">Hosting Indonesia</a></li>
                            <li><a href="#">Hosting Singapura SG</a></li>
                            <li><a href="#">Hosting PHP</a></li>
                            <li><a href="#">Hosting Wordpress</a></li>
                            <li><a href="#">Hosting Laravel</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 mt-5">
                    <div class="card bg-dark px-3 border-0">
                        <p><b>TUTORIAL</b></p>
                        <ul class="list-unstyled list-footer montserrat-light-small">
                            <li><a href="#">Knowledgebase</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Cara Pembayaran</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 mt-5">
                    <div class="card bg-dark px-3 border-0">
                        <p><b>TENTANG KAMI</b></p>
                        <ul class="list-unstyled list-footer montserrat-light-small">
                            <li><a href="#">Tim Niagahoster</a></li>
                            <li><a href="#">Karir</a></li>
                            <li><a href="#">Events</a></li>
                            <li><a href="#">Penawaran & Promo Spesial</a></li>
                            <li><a href="#">Kontak Kami</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 mt-5">
                    <div class="card bg-dark px-3 border-0">
                        <p class="montserrat-regular">KENAPA PILIH NIAGAHOSTER?</p>
                        <ul class="list-unstyled list-footer montserrat-light-small">
                            <li><a href="#">Support Terbaik</a></li>
                            <li><a href="#">Garansi Harga Termurah </a></li>
                            <li><a href="#">Domain Gratis Selamanya </a></li>
                            <li><a href="#">Datacenter Hosting Terbaik </a></li>
                            <li><a href="#">Review Pelanggan</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 mt-5">
                    <div class="card bg-dark px-3 border-0">
                        <p><b>NEWSLETTER</b></p>
                        <div class="input-group">
                            <input type="text" class="form-control border-input" placeholder="Email" aria-label="Email">
                            <div class="input-group-append bg-white border-input">
                              <button class="btn btn-outline-secondary border-input btn-berlangganan" type="button">Berlangganan</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mt-5">
                    <div class="card bg-dark px-3 border-0 d-inline">
                        <div class="mt-2">
                            <a href="#"><img class="border border-white m-1 rounded-circle" style="max-width: 20%;"  src="{{ base_url() }}/assets/icons/facebook.png"></a>
                            <a href="#"><img class="border border-white m-1 rounded-circle" style="max-width: 20%;"  src="{{ base_url() }}/assets/icons/twitter.png"></a>
                            <a href="#"><img class="border border-white m-1 rounded-circle" style="max-width: 20%;"  src="{{ base_url() }}/assets/icons/googleplus.png"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <p class="text-secondary"><b>PEMBAYARAN</b></p>
                <img class="bank-icon"  src="{{ base_url() }}/assets/icons/bca.png">
                <img class="bank-icon"  src="{{ base_url() }}/assets/icons/mandiri.png">
                <img class="bank-icon"  src="{{ base_url() }}/assets/icons/bni.png">
                <img class="bank-icon"  src="{{ base_url() }}/assets/icons/visa.png">
                <img class="bank-icon"  src="{{ base_url() }}/assets/icons/mastercard.png">
                <img class="bank-icon"  src="{{ base_url() }}/assets/icons/atmbersama.png">
                <img class="bank-icon"  src="{{ base_url() }}/assets/icons/permatabank.png">
                <img class="bank-icon"  src="{{ base_url() }}/assets/icons/prima.png">
                <img class="bank-icon"  src="{{ base_url() }}/assets/icons/alto.png">
            </div>
            <hr style="color: black;">
            <div class="row d-flex justify-content-center mt-3">
                <div class="col-9">
                    <small>
                        Copyright ©2016 Niagahoster | Hosting powered by PHP7, CloudLinux, CloudFlare, BitNinja and DC Biznet Technovillage Jakarta <br>
                        Cloud VPS Murah powered by Webuzo Softaculous, Intel SSD and cloud computing technology
                    </small>
                </div>
                <div class="col-3">
                    <small class="text-light list-footer">
                        <a href="#">Syarat dan Ketentuan</a> | <a href="#">Kebijakan Privasi</a>
                    </small>  
                </div>
            </div>
        </div>
    </div>

    <script src="{{ base_url() }}/assets/js/bootstrap.bundle.min.js"></script>
    <script src="{{ base_url() }}/assets/js/popper.min.js"></script>
    <script src="{{ base_url() }}/assets/js/bootstrap.min.js"></script>

</body>
</html>